@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: Verdana, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1,
figcaption {
  font-family: Georgia, serif;
}

h1 {
  color: #fff;
}

body {
  margin: 0;
}
